/.idea/ClojureProjectResolveSettings.xml
/.idea/Memory-Game.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/Coursera/drawingfunctions.py
/Coursera/game.py
/Coursera/RectanglesAndCoordinates.jpg
/Coursera/task5.png
/Coursera/won.png
/memory.png
